body {
  background-color: #ddd;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#geoBtn {
  border: 1px solid #000;
  border-radius: 0.2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0.5em 0.8em;
  text-transform: uppercase;
  background-color: #000;
  color: #eee;
}

#geoBtn:hover {
  transform: scale(1.03);
}
